body {
    background-color: #FFFFFF;
    width: 100%;
}

#navbar {
    color: #FFFFFF;
}

#btnlabel {
    position: absolute;
    right: 10%;
    bottom: 10%;
    cursor:pointer;
    font-size: 300%;
    z-index: 1;
}

#btn {
    display: none;
}

.page {
    display: inline-block;
}

#page1 {
    height: 100%;
    width: 100%;
    opacity: 1;
    transform: translateX(0%);
    transition: all .95s ease;
}

#btn:checked ~ #page1 {
    height: 100%;
    width: 0%;
    opacity: 0;
    transform: translateX(-50%);
}

#page2 {
    height: 100%;
    width: 0%;
    display:inline-block;
    opacity: 0;
    transition: all .95s ease;
    transform: translateX(50%);
}

#btn:checked ~ #page2 {
    height: 100%;
    width: 100%;
    opacity: 1;
    transform: translateX(0%);
}

#bg {
    background-image: url("https://images.unsplash.com/photo-1532774821765-7403258cb2fa?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=dcc084aab475993234207e806e0f3133&auto=format&fit=crop&w=1950&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
    width: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
}

#container {
    height: 80%;
    width: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
}

#view {
    background-color: #FFFFFF;
    height: 80%;
    width: 90%;
    position: absolute;
    top: 20%;
    left: 10%;
}

.row {
    width: 50%;
    position: absolute;
    bottom: 40%;
    right: 5%;
}

.block {
    width: 30%;
    display: inline-block;
    word-wrap: break-word;
}

h1 {
    font-size: 4vw;
}

.titleBlock {
    width: 50%;
    position: absolute;
    left: 10%;
}

.leftBlock {
    position: absolute;
    left: 10%;
    bottom: 30%;
}
